body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

form {
    width: 100%;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
}

textarea,
input[type="text"],
input[type="number"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 300px;
    resize: none;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 12px 24px;
    background-color: #2471f7;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0c50c6;
}

#courseContainer,
#teamsContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#teamsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    flex: 0 0 calc(33.333% - 70px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.132);
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.team h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.team ul {
    padding: 0;
    list-style-type: decimal;
    margin-top: 10px;
}

.team li {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
    margin-left: 15px;
}

#printButton {
    margin: 20px;
}

@media print {
    @page {
        size: letter;
    }

    body>* {
        visibility: hidden;
    }

    .container {
        width: 100%;
    }

    #courseContainer,
    #teamsContainer,
    #teamsContainer * {
        visibility: visible;
    }

    #courseContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    #teamsContainer {
        position: absolute;
        top: 70px;
        left: 0;
    }

    .team {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .team {
        flex: 0 0 calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        border-radius: 0;
    }

    .team {
        flex: 0 0 calc(100% - 40px);
    }
}