body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.container {
    width: 90%;
    /* Mengubah lebar kontainer agar lebih responsif */
    max-width: 1024px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

form {
    width: 100%;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
}

textarea,
input[type="text"],
input[type="number"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 300px;
    resize: none;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Menetapkan font yang sama seperti teks lainnya */
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 12px 24px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5500;
}

#teamsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    flex: 0 0 calc(33.333% - 70px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.132);
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.team h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.team ul {
    padding: 0;
    list-style-type: decimal;
    margin-top: 10px;
}

.team li {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
    margin-left: 15px;
}

#courseContainer {
    text-align: center;
    margin-bottom: 20px;
}

/* CSS untuk tampilan cetak */
@media print {
    body * {
        visibility: hidden; /* Semua elemen disembunyikan */
    }
    #courseContainer, #teamsContainer, #teamsContainer * {
        visibility: visible; /* Hanya elemen-elemen yang ingin dicetak ditampilkan */
    }
    #courseContainer, #teamsContainer {
        position: absolute; /* Mengatur posisi absolut untuk elemen hasil */
        top: 0; /* Menempatkan elemen di bagian paling atas */
        left: 0; /* Menempatkan elemen di bagian paling kiri */
        width: 100%; /* Menyesuaikan lebar elemen dengan lebar halaman cetak */
        margin: 0; /* Menghapus margin */
        padding: 0; /* Menghapus padding */
    }
    #courseContainer {
        margin-bottom: 20px; /* Memberikan jarak antara elemen hasil mata kuliah dan elemen hasil kelompok */
    }
    .team {
        margin-bottom: 20px; /* Memberikan jarak antara setiap kelompok */
    }
}


